<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	
	
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Log in</title>

    <!-- Bootstrap core CSS -->
	{% load staticfiles %}
	<link href="{% static 'pub/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
	<link href="{% static 'pub/css/bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet"/>
	


    <!-- Custom styles for this template -->
    <!-- <link href="theme.css" rel="stylesheet"> --!>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style>
	body{
		font-family:Arial,Helvetica,sans-serif;
		font-size: 12px;
	}

	header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;	 
	}
	h1{
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		padding:5px;	 	 
	}

	</style>

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="help">Help</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
    <script src="{% static 'pub/js/bootstrap.min.js' %}"></script>
	
    <script src="../../assets/js/docs.min.js"></script>
	

	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


	
	  <header>
	<h1>Kebab Forces</h1>
	</header>

	<div style="background-color: black; position: relative; top: 80px ">
		<div style = "position: relative; text-align: center; color:white; ">
		<form action="/login/" method="post">
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			username:
			<input type="text" name="username" value="{{ username}}" /><br />
			password:
			<input type="password" name="password" value="" /><br />

			<input type="submit" value="Log In" />
			<input type="button" onClick="window.location.href='/choose_side'" value="Sign in"/>
		</form>


		</div>
	</div>
	  </body>
</html>
