<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kebab Forces</title>
    <style>
    body {
        margin: 0;
        padding: 0;
        background-color: #63e500;
        background-image: url("static/background.png");
        font-family: Verdana;
    }
    
    #titlebar {
        width: 100%;
        float: left;
        margin: 0 0 2em 0;
        padding: 0;
        list-style: none;
        background-color: #004e01;
    }
      
    
    #titlebar li.title {
        float: left;
        font-size: 64px;
    }
    
    #titlebar li.right {
        float: right;
    }
    
    #titlebar li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #63e500;
    }
        
    #titlebar li.right a:hover {
        color: #004e01;
        background-color: #e1ff00; 
    }
    
    div.popup {
        position: fixed;
        left: 50%;
        top: 60%;
        background-color: #004e01;
        z-index: 100;
        height: 180px;
        margin-top: -150px;
        width: 500px;
        margin-left: -250px;
        font-size: 16px;
    }
    
    div.popup .block {
        margin: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    div.popup label {
        width: 25%;
        float: left;
        text-align: left; 
        padding: 3px 4px;
    }
    
    div.popup input {
        width: 70%;
        outline: none;
        padding: 4px 4px;
        border: 1px dashed #DBDBDB;
        border-radius: 2px;
        transition: background 0.2s linear, box-shadow 0.6s linear;
    }
    
    div.popup label,
    div.popup input {
        color: #63e500;
        font-size: 16px;
        display: inline-block;
        margin-top: 20px;
    }
    
    div.popup input[type="text"], 
    div.popup input[type="password"], 
    div.popup textarea {
        border: 1px solid #ccc;
    }
    
    div.popup input[type="button"], 
    div.popup input[type="submit"] {
        color: #004e01;
        position: fixed;
        left: 50%;
        margin-left: -50px;
        width: 100px;
    }

    div.popup input:focus {
        background: #F7F7F7;
        border: dashed 1px #969696;
        -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
        -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
        box-shadow: 2px 2px 7px #E8E8E8 inset;
    }
    
    
    div.buy_kebab {
        margin-left: auto;
        margin-right: auto;
        background-color: pink;
        width: 50%;
        top: 10px;
    }
    
    div.buy_kebab a {
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 100%;
        background-color: #004e01;
        text-align: center;
        font-size: 64px;
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #63e500;
    }

    div.buy_kebab a:hover {
        color: 004e01;
        background-color: #e1ff00; 
    }
    
    </style>
</head>
<body>
{% block titlebar %}
<ul id="titlebar">
    <li class="title"><a href="/">Kebab Forces</a></li>
    {% if is_authenticated %}
        <li class="right"><a href="#">Wyloguj</a></li>
        <li class="right"><a href="#">{{ user_name }}</a></li>
    {% else %}
        <li class="right"><a href="#">Zarejestruj</a></li>
        <li class="right"><a href="login">Zaloguj</a></li>
    {% endif %}
</ul>
{% endblock %}

<div style="background: red;">
{% block body %}
<div class="buy_kebab">
<a href="/reg">Restauracja</a>
<a href="/reg_user">Uzytkownik</a>
</div>
{% endblock %}
</div>
</body>
</html>