<!DOCTYPE html>
<html>

<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}

section {
    width:350px;
    float:center;
    color: gray;
    padding:10px;
    width:800px; 
    margin:0 auto;	 	 
}
h1{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
h1{
    text-align:center;
    padding:5px;
}
table {
	border: 1px solid black;
    text-align:center;
   
}
td, th{
    border: 1px solid black;
    text-align:center;
    width: 400px;
}
</style>
<title>{{ restaurant.name}}</title>
</head>

<body>

<header>
<h1>Kebab Forces</h1>

<h2> Witamy w {{ restaurant.name}} </h2>

</header>

<form action="/add_menu_entry/" method="post">
    <label for="Name">Nazwa: </label>
    <input id="Name" type="text" name="name">
    <input id="Rest_id" type="hidden" name="Rest_id" value="{{ restaurant.id}}">
    <input type="submit" value="OK">
</form>
<section>

<h1>Menu</h1>
<table>
<tr><th>Nazwa</th>
</tr>
{% for entry in  menu %}
    <tr>
        <td>{{ entry.name}}</td>
    </tr>
    {% endfor %}
</table>
</section>
</body>
</html>