<!DOCTYPE html>
<html>

<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}

section {
    width:350px;
    float:center;
    color: gray;
    padding:10px;
    width:800px; 
    margin:0 auto;	 	 
}
h1{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
table {
	border: 1px solid black;
    text-align:center;
   
}
td, th{
    border: 1px solid black;
    text-align:center;
    width: 400px;
}
</style>
</head>

<body>

<header>
<h1>Kebab Forces</h1>
</header>
<section>

<h1>Restauracje </h1>
<table>
<tr><th>Nazwa</th>
<th>Adres</th>
<th>Telefon</th>
<th>Info</th>
</tr>
{% for restaurant in restaurants_list %}
    <tr>
        <td>{{ restaurant.name}}</td>
        <td>{{restaurant.adress}}</td>
        <td>{{restaurant.phone}}</td>
        <td>{{restaurant.Info}}</td>
        <td><a target="_blank" href="/restaurants/{{ restaurant.id}}">Check It Out</a></td>
    </tr>
    {% endfor %}
</table>
</section>
</body>
</html>