<html>
<body>
<center>
<table border="1" style ="width:80%">
	<th> Zamowienia </th>
	<th> Godzina zamowienia <th>
	<th> Godzina odbioru </th>
	{% for zamowienie in orders_list %}
	<tr>
		<td>{{ zamowienie }}</td>
		<td>{{zamowienie.data_zlozenia.hour}}:{{zamowienie.data_zlozenia.minute}}:{{zamowienie.data_zlozenia.second}}</td>
	</tr>
	{% endfor %}
</table>
</center>
</body>
</html>
