<!DOCTYPE html>
<html>

<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}

section {
    width:350px;
    float:center;
    color: gray;
    padding:10px;
    width:800px; 
    margin:0 auto;	 	 
}
h1{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
h1{
    text-align:center;
    padding:5px;
}
table {
	border: 1px solid black;
    text-align:center;
   
}
td, th{
    border: 1px solid black;
    text-align:center;
    width: 400px;
}
</style>
<title>{{ customer.name}}</title>
</head>
<body>

<header>
<h1>Kebab Forces</h1>

<h2> Witaj, {{ customer.name }} </h2>

</header>

<section>

<h1>Twoje zamówienia:</h1>
<table>
<tr>
<th>Nazwa</th>
<th>Restauracja</th>
<th>Data zamówienia</th>
<th>Data odbioru</th>
</tr>
{% for order in orders %}
    <tr>
        <td>{{ order.menu_entry.name }}</td>
        <td>{{ order.restaurant.name }}</td>
        <td>{{ order.order_date|date:'H:i d-m-Y' }}</td>
		<td>{{ order.ready_date|date:'H:i d-m-Y' }}</td>
	</tr>
    {% endfor %}
</table>
</section>
</body>
</html>